*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-100: hsl(135, 73%, 20%);
  --color-200: hsl(135, 73%, 40%);
  --color-300: hsl(135, 73%, 60%);
  --color-400: hsl(135, 73%, 80%);
  --color-500: hsl(135, 73%, 95%);
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  box-sizing: border-box;
  font-size: clamp(12px, 2.5vw, 20px);
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 20vh;
}
main {
  margin-top: 2rem;
}
h1 {
  font-weight: 600;
}

canvas {
  background-color: var(--color-500);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

header {
  background: var(--color-100);
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas + aside {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  margin-left: 1rem;
  height: 100%;
}

aside > button:last-of-type {
  margin-bottom: 0;
}

.canvas-button {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  background: var(--color-400);
  opacity: 0.6;

  transition: all 0.2s ease-out;
}

.canvas-button:hover {
  opacity: 1;
}

.canvas-button.active {
  color: white;
  opacity: 1;
  background-color: var(--color-100);
}

.drawables-list {
  display: flex;
  flex-flow: column;

  margin-top: 0;
  padding: 0;
}

.drawables-list > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.drawables-list__item {
  list-style: none;
}

.drawables-list__item > button {
  width: 100%;
}